---
layout: default
---

<!-- Main -->
<div id="right">
	<!-- One -->
	<section id="one">
		<header class="major">
			<h2>About me.</h2>
		</header>
		<p>
			안녕하세요, 이민아입니다.<br>
			● 2015.04~2020.02 SI/Solution회사 UI/UX디자이너 (4년10개월 근무)<br>
			● 2020.04~2020.11 Java언어기반의스마트웹풀스택개발자양성과정 (944시간 수료)<br>
			● 2019.04~2019.05 모던 JS front-end 프로그래밍 기초 (32시간 수료)<br>
			● 2018.04~2018.06  [NCS]웹프로그래밍(HTML5/CSS3)향상 (45시간 수료)<br>
			<br>
			디자인 및 개발 프로젝트를 함께 기록한 포트폴리오입니다.<br>
			해시태그를 선택해 원하는 카테고리만 쏙쏙 조회할 수 있습니다.<br>
		</p>
		<ul class="actions hide">
			<li><a href="#" class="button">Learn More</a></li>
		</ul>
	</section>

	<!-- Two -->
	<section id="two">
		<h2>Recent Work</h2>
		<div class="post_row">
			{% for post in paginator.posts %}
			<article class="6u 12u$(xsmall) preview" itemprop="blogPost">
				<a href="{{ post.url | prepend: site.baseurl }}" class="image fit thumb" itemprop="url"><img src="{{ post.image-sm }}" alt="" /></a>
				<a href="{{ post.url | prepend: site.baseurl }}" class="txt" itemprop="url">					
					<h3 class="preview__header" itemprop="name">{{ post.title }}</h3>
					<p class="preview__date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y년 %-m월부터 약 %-d개월 이내 완료" }}</p>
					<!-- <p class="preview__excerpt" itemprop="description">{{ post.description }}</p> -->
				</a>
				<ul class="preview__category">
					{% for categories in post.categories %}
						<li><a href="/category/{{ categories }}/"># {{ categories }}</a> </li>	    
					{% endfor %}
				</ul>
			</article>
			{% endfor %}					
		</div>
	</section>					
</div>		
