---
layout: default
---

<!-- Main -->
<div id="right">
	<!-- One -->
	<section id="one">
		<header class="major">
			<h2>About me.</h2>
		</header>
		<p>
			안녕하세요, 디발자 이민아입니다.<br>
			● SI/Solution회사 - UI/UX디자이너 (4년10개월 근무)<br>
			● 쌍용교육센터 - Java 기반 웹개발 (2020년 11월 수료 예정)<br>
			<br>
			수많은 이력서, 코드 분석으로 글자에 무료함을 느끼실 담당자님을 위한 그림책같은 포트폴리오입니다.<br>
			해시태그를 선택해 원하는 카테고리만 쏙쏙 조회할 수 있습니다.<br>
		</p>
		<ul class="actions hide">
			<li><a href="#" class="button">Learn More</a></li>
		</ul>
	</section>

	<!-- Two -->
	<section id="two">
		<h2>Recent Work</h2>
		<div class="post_row">
			{% for post in paginator.posts %}
			<article class="6u 12u$(xsmall) preview" itemprop="blogPost">
				<a href="{{ post.url | prepend: site.baseurl }}" class="image fit thumb" itemprop="url"><img src="{{ post.image-sm }}" alt="" /></a>
				<a href="{{ post.url | prepend: site.baseurl }}" class="txt" itemprop="url">					
					<h3 class="preview__header" itemprop="name">{{ post.title }}</h3>
					<p class="preview__date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y년 %-m월부터 약 %-d개월 이내 완료" }}</p>
					<!-- <p class="preview__excerpt" itemprop="description">{{ post.description }}</p> -->
				</a>
				<ul class="preview__category">
					{% for categories in post.categories %}
						<li><a href="/category/{{ categories }}/"># {{ categories }}</a> </li>	    
					{% endfor %}
				</ul>
			</article>
			{% endfor %}					
		</div>
	</section>					
</div>		
